@model TPractico.Models.Alumno;
@{
  ViewData["Title"] = "Estudiante";
}

<!-- Modal -->
<div class="modal fade" id="ModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content fondo2">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Agregar Estudiante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="AlumnoID" value="0" />
        <div>
          <label class="control-label">Nombre</label>
          <input type="text" class="form-control" id="NombreCompleto" autocomplete="off"
            onkeyup="this.value = this.value.toUpperCase()" />

          <label class="control-label">Dirección</label>
          <input type="text" class="form-control" id="Direccion" autocomplete="off"
            onkeyup="this.value = this.value.toUpperCase()" />

          <label class="control-label">Fecha</label>
          <input type="date" class="form-control" id="Fecha" autocomplete="off" />

          <label class="control-label">DNI</label>
          <input type="number" class="form-control" id="DNI" autocomplete="off" min="10000000" max="99999999" />

          <label class="control-label">Email</label>
          <input type="email" class="form-control" id="Email" autocomplete="off"/>


          <label class="control-label">Carrera de cursado</label>
          @Html.DropDownList("CarreraID", null, htmlAttributes: new
            {
              @class =
                 "form-control"
            })

          <p class="text-danger" id="alerta"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" onclick="GuardarAlumno()" class="btn btn-primary">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <h1 class="display-4">Estudiantes</h1>
  <table class="table table-bordered table-hover table-light table-condensed text-uppercase">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Fecha de Nacimiento</th>
        <th>DNI</th>
        <th>Email</th>
        <th>Carrera</th>
        <th class="text-end">
          <button type="button" onclick="VaciarFormulario()" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#ModalCategoria">
            Nuevo
          </button>
        </th>
      </tr>
    </thead>
    <tbody id="tbody-alumnos"></tbody>
  </table>
</div>

@section Scripts{
  <script src="~/js/alumnos.js"></script>
}
