@{
    ViewData["Title"] = "Carreras";
}


<!-- Modal -->
<div class="modal fade" id="ModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content fondo2">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Agregar Carrera</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="CarreraID" value="0" />
        <div>
            <label class="control-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()"/>
            
            <label class="control-label">Duracion</label>
            <input type="number" min="1" class="form-control" id="Duracion" autocomplete="off" value="1"/>
            
            <p class="text-danger" id="alerta"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" onclick="GuardarCarrera()" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>



<div onclick="esconder()" class="btn btn-esconder">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
</svg>
Integrantes
</div>

<div>
    <canvas id="CarreraAlumnos"></canvas>
</div>

<div id="tabla-carreras">
  <h1 class="display-4">Carreras</h1>
  <table class="table table-bordered table-hover table-light table-condensed text-uppercase">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Duración</th>
            <th class="text-end">
              <button type="button" onclick="VaciarFormulario()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCategoria">
              Nuevo</button>
            </th>
        </tr>
    </thead>
        <tbody id="tbody-carreras">        
        </tbody>
  </table>
</div>



<script src="chart.js/dist/chart.umd.js"></script>

@section Scripts{
    <script src="~/js/carreras.js"></script>
    <script src="~/js/grafico.js"></script>
}